<head>
    <title>Context Command Executor options</title>
    <link rel="stylesheet" href="index.css">
</head>

<div id="main">
    <button class="add-form">Add command</button>
    <div class="forms"></div>
    <div class="information">
        <p>
            The first command line should be the command.
            Arguments should be separate lines.
            It will be executed by python's <a
            href="https://docs.python.org/3/library/subprocess.html?highlight=subprocess#subprocess.call"><code>subprocess.call</code></a>
        </p>
        <p>
            You can use <i>$URL$</i> in your command. It will be
            replaced by the URL in question
        </p>
    </div>
</div>

<template id="command-form-template">
    <div class="command-form">
        <div class="label-group">
            <span>Label</span>
            <input type="text" class="label-input"
                   placeholder="Context menu label">
        </div>
        <div class="command-group">
            <label for="command-input">Command</label>
            <textarea name="command-input" id="command-input" cols="30"
                      rows="10"
                      class="command-input"
                      placeholder="Command to run with an arg per line"
            ></textarea>
        </div>
        <button class="save-button">Save</button>
        <button class="remove-button">Delete</button>
    </div>
</template>

<script src="index.js"></script>
